*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
            margin-top: 2rem;
        }

        .form-container {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 500px; /* Ajusta el ancho máximo del formulario */
            margin: 0 auto; /* Centra el formulario horizontalmente */
        }

        .form-label {
            font-weight: 600;
        }

        .btn-primary {
            background-color: #0d6efd;
            border-color: #0d6efd;
        }

        .btn-primary:hover {
            background-color: #0b5ed7;
            border-color: #0a58ca;
        }