<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Odontologos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/header_style.css">

</head>
<body>
    <header>
        <div class="page-name">
        <h2>Clinica Odontologica</h2>
        <h1>DEVTANL</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/paciente">Pacientes</a></li>
                <li><a href="/odontologo">Odontólogos</a></li>
                <li><a href="/turno">Turnos</a></li>
            </ul>
            <a href="/logout" class="btn btn-danger">Cerrar sesión</a>
        </nav>
    </header>

    <main>
        <div class="container">
        <h1 class="mb-4">Lista de Odontólogos</h1>
        <div class="table-responsive">
            <table id="odontologoTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Matrícula</th>
                        <th>Actualizar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="odontologoTableBody">
                    <tr th:each="odontologo : ${odontologos}">
                        <td th:text="${odontologo.nombre}"></td>
                        <td th:text="${odontologo.apellido}"></td>
                        <td th:text="${odontologo.numeroMatricula}"></td>
                        <td>
                            <a th:href="@{/odontologo/{odontologoId}/actualizar(odontologoId=${odontologo.id})}" class="btn btn-primary">Actualizar</a>
                        </td>
                        <td>
                            <form th:action="@{|/odontologo/${odontologo.id}/eliminar|}" method="post" style="display: inline;">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center mt-4"></div>
                            <a href="/paciente" class="btn btn-secondary">Volver</a>
                        </div>
        </div>
    </div>
    </main>

    <footer class="bg-info text-white text-center py-3 mt-4">
        <p class="mb-0">&copy; 2024 Clinica Odontológica. Todos los derechos reservados.</p>
    </footer>

</body>
</html>